# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
xcuserdata/
*.xcworkspace
*.xcuserstate
DerivedData/
*.hmap
*.ipa

# SwiftData
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Swift Package Manager
.swiftpm/
.build/
Packages/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# CocoaPods
Pods/

# 개인 설정
Config.xcconfig
secrets.plist
*.local.plist

# IDE
*.idea/
*.vscode/
